$headline-font: canada-type-gibson, serif;
$text-font: ff-meta-serif-web-pro, serif;

$color-dark: #121113;
$color-light: #f7f7f2;
$color-1: #ff008d;
$color-2: #009fb7;
$color-3: #426b69;

body {font-family: $text-font; margin: 0;padding: 0; color: $color-dark; font-size: 16px;}
h1, h2, h3, h4 {font-family: $headline-font; font-weight: 600; color: $color-dark;margin-top:0.25em;margin-bottom: 0.25em;}

header {margin: 0 5.5rem; padding: 1rem; border-bottom: 1px dotted $color-dark;}

.active {color: $color-3;}

.page-container {
    margin: auto;
    width: 100%;
  }


  .page-wrapper {display:flex;}


  header, nav {
    text-align: center;
  }

  .content-wrapper {background-color: #ffffff;}

  nav {
	position: fixed;
	top: 1em;
	right: 1em;
	padding: 0;
	width: 58px;
	height: 58px;
	background-color: $color-1;
	border-radius: 50px;
	transition: width .25s, height .25s, border-radius .25s;
	z-index: 50;
}

nav.open {
	height: auto;
	width: 200px;
  padding-bottom: 1rem;
	border-radius: 25px 0 25px 25px;
	transition: width .5s, height .5s, border-radius .5s;
}

nav.open ul {
	/*margin: 0 10px;*/
}

nav ul li {
	/*padding: 0.5em 0;
	line-height: 1em;*/
}

nav a {
	color: #fff;
	text-decoration: none;
}

nav a:hover {
	border-bottom: 1px dotted #fff;
}

nav a.menu-toggle {
	display: inline-block;
	border: 0;
	width: 48px;
	height: 48px;
	background-color: transparent;
	/*border-radius: 50px;*/
	padding: 5px;
  position: relative;
  right: 0;
  transition: right .25s;
}

nav.open a.menu-toggle {
  right: calc(-25% - 24px);
  transition: right .16s;
}

nav a.menu-toggle > div {
	height: 5px;
	width: 34px;
	background-color: #fff;
	margin-bottom: 6px;
	border-radius: 2px;
	margin-left: 7px;
	opacity: 1;
	transition: all .2s;
}

nav a.menu-toggle > div:first-child {
	margin-top: 11px;
}

nav.open a.menu-toggle > div:not(:first-child):not(:last-child) {
	opacity: 0;
}

nav.open a.menu-toggle > div:first-child {
	transform-origin: top left;
	transform: rotate(45deg);
}

nav.open a.menu-toggle > div:last-child {
	transform-origin: bottom left;
	transform: rotate(-45deg);
}

nav.open a.menu-toggle > div {
	margin-left: 8px;
	transition: all .2s;
}

nav ul {
	visibility: hidden;
	opacity: 0;
	transition: opacity .5s;
  list-style-type: none;
  margin: 0;
  padding: 0.5rem;
}

nav ul li {
  margin: 0.5rem;
  padding: 0.25rem;
  border-bottom: 1px dashed $color-light;
  font-family: $headline-font;
  font-size: 1.5rem;
  text-transform: uppercase;
}

nav.open ul {
	visibility: visible;
	opacity: 1;
	transition: opacity .5s;
	transition-delay: .25s;
}